body {
	font-family: 'Roboto';
	font-weight: 700;
	margin: 10px;
	-webkit-app-region: drag;
}
#input {
	width: 400px;
}
#info {
	font-weight: normal;
	font-size: 0.9em;
	color: #6B6B6B;
}
.mathbox-frame {
	width: 800px;
	height: 600px;
}
.provider-name {
	font-size: 12px;
}
.tokens {
	margin-top: 1em;
}
.step {
    padding: 4px;
}
.steps {
	margin-bottom: 3em;
}
.indent {
	width: 4em;
}
.tag {
    font-size: 13px;
    background-color: #B3B3B3;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    font-weight: normal;
    margin: 4px 8px;
    /* vertical-align: middle; */
}
.tag-result {
	background-color: #14BA10;
}
.tag-promoted {
	background-color: #066299;
}
.tag-const {
	background-color: #D3D3D3;
}
.tag-binop {
	background-color: #E4A950;
}
.tag-paren {
	background-color: #E5E5E5;
}
.tag-neg {
	background-color: #F75B5B;
}